@model HomeModel

@{
    ViewData["Title"] = "Página de contato";
}

<div class="text-center">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas fugit maxime porro dolores eum earum qui blanditiis distinctio culpa velit? Quos sunt fugit beatae ipsa impedit error. Molestias, possimus numquam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint iure quam recusandae assumenda, ea similique, totam ex cupiditate voluptate, necessitatibus dolore id magnam praesentium fugit laborum illum sunt omnis. Sapiente!</p>
</div>
